<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.Extensions.ApiDescription.Client" version="7.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net472" />
</packages>